#container{
	width:960px;
	margin: 0px auto;
}

#left-column{
	width:672px;
	
}

#right-column{
	width: 288px;
	float: left;
}

@media screen and (max-width: 959px)
{
	#container
	{
		width: 100%;
	}

	#left-column
	{
		width: 70%;
	}

	#right-column
	{
		width:30%;
	}
	
}
@media screen and (max-width: 640px)
{

	#left-column
	{
		width: 100%;
	}

	#right-column
	{
		width:100%;
	}
}
@media screen and (max-width: 320px)
{

	#left-column
	{
		width: 320px;
	}

	#right-column
	{
		width:320px;
	}
}
html, body
		{
			height:100%;
			width: 100%;
			margin:0;
			font-size: 13px;
    		font-family: "Open Sans",Helvetica,Arial,sans-serif;
		}
		header
		{
			height: 100%;
			width:100%;
			overflow: hidden;
			position: relative;
		}
		#media img 
		{
			padding: 5px;
			margin: 5px;
			height: 25px;
    		width: 10%;
			border: 3px inset #ddd;
   			 border-radius: 50%;
   			}

   		#symbol
   		{
   			position: absolute;
			top: 0px;
			left: 35%;
			width: 60px;
    	}
    	#symbol img
   		{
   			opacity: .7;
   		}
    	
   		#mesh
   		{
   			position: absolute;
   			top:0px;
   			left:0%;
   			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: 100%;
			background-size:cover;
   		}
		video#bgvid
		{
			position: fixed;
			top: 50%;
			left: 50%;
			z-index:-100;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: 100%;
			transform: translate(-50%, -50%);
   			filter: blur(3px);
			-webkit-filter: blur(3px);
			-moz-filter: blur(3px);
			-o-filter: blur(3px);
			-ms-filter: blur(3px);
			background-size:cover;
			   background-position: cover;
		}

		#logo
		{
			position: absolute;
			top:20px;
			left:2%;
			text-align: center;
			width: 10%;
			font-family: "Open Snas", sans-serif;
			letter-spacing: 4px;
			color: #dee2e8;
			font-size: 75%;

		}

		.container
		{
			align-content: center;
			width:960px;

		}
		#coming
		{
			text-align: center;
			position: absolute;
			top: 250px;
			left:20%;
			width: 60%;
			letter-spacing: 10px;
    		font-family: "Open Sans", sans-serif;;
    		font-size: 150%;
    		color: #dee2e8;
    	}

    	#para
    	{
    		text-align: center;
			position: relative;
			top: 10%;
			left:20%;
			width: 60%;
    		font-family: "Open Sans", sans-serif;
    		letter-spacing: 2px;
    		font-size: 20px;
    		color: #dee2e8;
    	}
    	#media
    	{
			position: absolute;
			top: 600px;
			left:2%;
			width: 320px;
    		font-family: "Open Sans", sans-serif;;
    		font-size: 10px;
    		color: #dee2e8;
    	}

    	#timer
    	{
    		text-align: center;
    		position: absolute;
    		top: 300px;
    		left:20%;
    		width: 60%;
    		letter-spacing: 5px;
    		font-size: 52px;
    		background: linear-gradient(to right, #00ccff 0%, #99ff66 100%);
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
    		
    	}
		.glass {
  				position: relative;
  				padding: 10px 0;
 				 border-bottom: 1px solid;
 				 border-bottom-color: #ccc;
 				 border-bottom-color: rgba(0, 0, 0, 0.2);
  				background: red; /* For browsers that do not support gradients */
  				background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1)); /*Safari 5.1-6*/
  				background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
  				background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
 				 background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); /*Standard*/
  				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 
			left: 50%;
			z-index:-100;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: 200%;
			transform: translate(-50%, -50%);
}
